{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet"   href="{{ url_for('static', filename='css/index.css') }}">
<title>מנהל המשימות</title>
{% endblock %}

{% block body%}
<h1> מנהל המשימות</h1>
{% if tasks|length < 1 %} <h4>אין לך משימות. ערב פסח, זה הזמן ליצור!</h4>
    {%else %}
    <table>
        <tr>
            <th>כותרת</th>
            <th>תאריך</th>
            <th>בוצע</th>
        </tr>
        {% for task in tasks: %}
        <tr>
            <td>{{task.title}}</td>
            <td>{{task.date_created.date()}}</td>
            <td>{{task.completed}}</td>
            <td>
                <a href="/update/{{task.id}}">עדכון</a>
                <a href="/delete/{{task.id}}">מחיקה</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    <form action="/" method="post">
        <input id="title" name="title" type="text" placeholder="תוכן המשימה"/>
        <button>הוסף משימה</button>
    </form>
    {% endblock %}